# timer for one-shot hsi-config on startup
# sets IO port directions and values, etc.
#
[Unit]
Description=timer for hsi-startup-config

[Timer]
#runs once 60sec after startup
OnBootSec=60sec

[Install]
WantedBy=timers.target
 
