#
# /etc/hsi-config/hsi_shutter_control.config
# configuration file for shutter control
# 
# purpose: monitor sun sensor and shut shutter when required
# note: this should probably be a c binary that is continuously running to monitor the sun sensor.

#voltage signal to close shutter (e.g. mV or adc counts?)
SHUTTER_CLOSE_VAL  3000	

#voltage signal to reopen shutter
SHUTTER_OPEN_VAL   2500

# turn logging of sun sensor values on or off 	(1 or 0)
SHUTTER_LOGGING 1

# shutter logging period, seconds
SHUTTER_LOG_PERIOD  60

# shutter log path
SHUTTER_LOG_PATH  "/media/msata/logs/sun_sensor"

