# hsi_task3.timer
# timer for hsi-cam-cal-capture.service, hsi_task3.service
# periodically capture images
#
# place in /etc/systemd/system/hsi_task3.timer

[Unit]
Description=Timer for HSI image capture service

[Timer]
OnUnitActiveSec=10m
OnBootSec=300s

[Install]
WantedBy=timers.target

