# hsi_task9 service - 
# capture sets of hsi and context camera images
# hsi-cam-capture.py uses configuration in /etc/hsi-config
#
# place in /etc/systemd/system/hsi_task9.service
[Unit]
Description=HSI periodic camera cal capture service
#After=network.target

[Service]
Type=oneshot
User=labuser
ExecStart=/home/labuser/development/jetson-cam-utils/util/planned_tasks/hsi_task9.py

