# hsi_failsafe_cap.timer
# timer for hsi_failsafe_cap.service
# Capture every x days
#
# place in /etc/systemd/system/hsi_failsafe_cap.timer

[Unit]
Description=Timer for failsafe HSI LED calibration image capture service, in case of comms failure.

[Timer]
OnUnitActiveSec=14d
OnBootSec=30m
#OnCalendar=*-*-1,15 4:00:00

[Install]
WantedBy=timers.target

